p {
   
}

html {
   display: flex;
   justify-content: center;
   background-color: bisque;
}

body {
    width: 75%;
    
}

#banner {
    
    height: 20vh;
    border: black 5px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

button {
    background-color: #9cddd0;
    width: 20%;
    height: 40px;
    width: 140px;
    border: black 2 px solid;
    margin-bottom: 10px;
}

input {
    width: 20%;
    line-height: 2em  ;
    margin-bottom: 1%;
    border: black 5px solid;
    font-size: x-large;
}

#card {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: red;
    height: 70vh;
    background-image: url("world.jpg");
    border: black 5px solid;
    text-align: center;
    background-size: 100%;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #ffffff, -1px -1px #ffffff, 1px 1px #ffffff;
}

sub {
    font-size: 0.7em;
    color: #000000;
}